<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Owner | start page</title>
</head>
<body>
    <h1 th:text="'Owner List'">Owner list</h1>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>firstname</th>
            <th>lastname</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner.id}">1</td>
            <td th:text="${owner.firstname}">ali</td>
            <td th:text="${owner.lastname}">mahmud</td>
        </tr>
        </tbody>
    </table>
</body>
</html>